.Footer {
    display: flex;
    padding: 40px;

    .text {
        width: 470px;
        display: flex;
        flex-direction: column;
        position: relative;

        &-icons {
            position: absolute;
            top: 0;
            right: 0;

            .icon-1 {
                position: absolute;
                top: 15px;
                right: 38px;
            }

            .icon-2 {
                position: absolute;
                top: -8px;
                right: -15px;
            }
        }

        &-title {
            font-family: Clarins-Regular;
            font-size: 35px;
            color: #be0f34;
        }

        &-p {
            margin-top: 20px;
            font-family: Gotham-Book;
            font-size: 16px;
            line-height: 1.3;
        }

        &-box {
            margin-top: 28px;
            padding: 25px 40px;
            background: #f0cfba;

            span {
                font-family: Gotham-Book;
                font-size: 16px;
                line-height: 1.3;
            }

            .span-bold {
                font-weight: bold;
            }
        }
    }

    .video {
        width: 440px;
        height: 440px;
        margin-left: 40px;

        iframe {
            width: 440px;
            height: 100%;
        }
    }
}

@media only screen and (max-width : 768px) {
    .Footer {
        width: initial;
        flex-direction: row;
        padding: 26px 40px;
        align-items: center;
        justify-content: center;

        .text {
            width: 335px;
            text-align: left;
            &-icons{
                display: none;
            }
            &-box{
                width: 335px;
                padding: 0;
                &-pad{
                    padding: 20px;
                }
            }
            &-title{
                width: 335px;
            }
            &-p{
                width: 335px;
            }
        }

        .video {
            width: 335px;
            height: 100%;
            margin: 0 0 0 auto;
            iframe {
                width: 335px;
                height: 530px;
            }
        }
    }
}

@media only screen and (max-width : 576px) {
    .Footer {
        width: 100%;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;

        .text {
            width: 355px;
            text-align: center;
            &-icons{
                display: none;
            }
            &-box{
                width: 100%;
                padding: 0;
            }
            &-title{
                width: 100%;
                margin-top: 20px;
            }
            &-p{
                width: 100%;
            }
        }

        .video {
            width: 355px;
            height: 100%;
            margin: 10px 0 0 0;
            iframe {
                width: 100%;
                height: 190px;
            }
        }
    }
}