// css chung cho landing page
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
         url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
         url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Clarins-Regular';
    src: url('../fonts/Clarins-Regular.woff2') format('woff2'),
         url('../fonts/Clarins-Regular.woff') format('woff'),
         url('../fonts/Clarins-Regular.ttf') format('truetype');
}

/* For desktop: */
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  p{
    line-height: 1.2!important;
  }
}

p{
  line-height: 1.3;
}

.rec-arrow-left{
  display: none;
}
.rec-arrow-right{
  display: none;
}

.bkVSTc {
  display: none!important;
}


@media (max-width: 576px) {
  .bkVSTc {
      display: flex!important;
  }
  .cJeRRR{
    background: rgba(42,38,48,50%);
    box-shadow: 0 0 1px 3px rgb(149,142,160)!important;
  }
}
