.Header {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    background: #f3f5fb;

    &-img-3 {
        position: absolute;
        top: -70px;
        left: -208px;

        @media only screen and (max-width: 768px) {
            width: 150%;
        }

        @media only screen and (max-width: 576px) {
            top: 5px;
            left: -50px;
            width: 815px;
        }

        @media only screen and (max-width: 376px) {
            top: 17px;
            left: -50px;
            width: 756px;
        }
    }

    &-img-2 {
        position: absolute;
        top: 15px;
        left: 290px;
        z-index: 1;

        @media only screen and (max-width: 576px) {
            top: 85px;
            left: 10px;
            width: 65px;
        }

    }

    &-img-1 {
        position: absolute;
        top: 25px;
        right: 0;
        z-index: 1;

        @media only screen and (max-width: 576px) {
            width: 196px;
            top: 20px;
            right: 0;
        }
    }

    &-text {
        position: absolute;
        width: 440px;
        top: 160px;
        right: 0;

        &-1 {
            font-size: 16px;
            font-family: Gotham-Medium;
            text-transform: uppercase;
            color: #be0f34;

            @media only screen and (max-width: 576px) {
                font-size: 14px;
            }
        }

        &-2 {
            font-family: Clarins-Regular;
            font-size: 40px;

            @media only screen and (max-width: 576px) {
                font-size: 35px;
            }
        }

        &-3 {
            font-family: Gotham-Book;
            font-size: 18px;
            line-height: 1.3;

            @media only screen and (max-width: 576px) {
                font-size: 17px;
            }
        }

        @media only screen and (max-width: 768px) {
            width: 335px;
        }

        @media only screen and (max-width: 576px) {
            position: absolute;
            width: 100%;
            top: 305px;
            text-align: center;
        }
    }
}